ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}
